<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>宝宝时光</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.5</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sinaweibosso.442726984</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106355456</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb442726984</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx176c1850f0d031e1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentApiIdentifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106355456.conent</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.sinyee</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.sinyee.babybus.bbtime</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>201808020926</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wx6b6d67d0eab2e703</string>
		<string>wxb339d9466dd491c0</string>
		<string>wx59571f77299d72aa</string>
		<string>wxfb15b7e70bb0897f</string>
		<string>wxc5c13f02344d8796</string>
		<string>wx3c25208734836506</string>
		<string>wx12341bbc3d263793</string>
		<string>wx4b0d7b6f19792bb9</string>
		<string>wx1f53f9a710296a8f</string>
		<string>wxfb15b7e70bb0897f</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>weibosdk</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>current</string>
		<string>alipay</string>
		<string>alipayshare</string>
		<string>rm434209233MojiWeather</string>
		<string>tbopen</string>
		<string>tmall</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>我们需要使用相机进行拍摄。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们需要查看和编辑当前位置。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>我们需要查看和编辑当前位置。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要查看和编辑当前位置。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要使用麦克风来录制视频。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要访问相册来保存下载的图片或者视频。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册来智能识别和上传照片。</string>
	<key>TYAppConfig</key>
	<dict>
		<key>AMapApiKey</key>
		<string>879c6a592a1deb14a690451edac83be0</string>
		<key>AppStoreID</key>
		<string>1270598726</string>
		<key>BuglyAppID</key>
		<string>f549530422</string>
		<key>UMengAppKey</key>
		<string>598c0f49734be4171300133b</string>
		<key>UMengChannel</key>
		<string>App Store</string>
	</dict>
	<key>TYEnvironment</key>
	<string>prod</string>
	<key>TYProductInfo</key>
	<dict>
		<key>TYCHCode</key>
		<string>AppStore</string>
		<key>TYCHID</key>
		<integer>1</integer>
		<key>TYProductID</key>
		<integer>3000</integer>
		<key>TYProjectID</key>
		<integer>1</integer>
		<key>TYVerID</key>
		<integer>17</integer>
	</dict>
	<key>TYStatsProductID</key>
	<integer>20</integer>
	<key>TYUserSystem</key>
	<dict>
		<key>QQAppKey</key>
		<string>1106355456</string>
		<key>QQAppRedirectUri</key>
		<string>www.qq.com</string>
		<key>QQAppSecret</key>
		<string>LYNV3Rx3h9uUFllG</string>
		<key>WechatAppKey</key>
		<string>wx176c1850f0d031e1</string>
		<key>WechatAppSecret</key>
		<string>fecc1b51fc1f7586c0c0e3d2442260dc</string>
		<key>WeiboAppKey</key>
		<string>442726984</string>
		<key>WeiboAppRedirectUri</key>
		<string>http://ins.gao7.com/loginweibo2.aspx</string>
		<key>WeiboAppSecret</key>
		<string>e8ef70cf8a1541930d05514f80282935</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>weibo.com</key>
	<dict>
		<key>NSIncludesSubdomains</key>
		<true/>
		<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
		<false/>
	</dict>
</dict>
</plist>
